# Introfuction to DataFrames
- read data from CSV
- understand data types
- set index
- parse dates
- use index with loc
- use indexing with iloc

import pandas as pd

In [27]:
data = pd.read_csv("AAPL.csv", index_col=0, parse_dates=True)

In [28]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300
2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100
2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181961,63261400
2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490204,52485800
2021-07-02,137.899994,140.000000,137.750000,139.960007,139.164932,78852600

In [29]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [30]:
data.index

DatetimeIndex(['2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01',
               '2021-07-02', '2021-07-06', '2021-07-07', '2021-07-08',
               '2021-07-09', '2021-07-12',
               ...
               '2022-06-10', '2022-06-13', '2022-06-14', '2022-06-15',
               '2022-06-16', '2022-06-17', '2022-06-21', '2022-06-22',
               '2022-06-23', '2022-06-24'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [31]:
data.loc['2021-06-28']

Open         1.334100e+02
High         1.352500e+02
Low          1.333500e+02
Close        1.347800e+02
Adj Close    1.340143e+02
Volume       6.211130e+07
Name: 2021-06-28 00:00:00, dtype: float64

In [32]:
data.loc['2022-01-01':]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,177.830002,182.880005,177.710007,182.009995,181.511703,104487900
2022-01-04,182.630005,182.940002,179.119995,179.699997,179.208038,99310400
2022-01-05,179.610001,180.169998,174.639999,174.919998,174.441116,94537600
2022-01-06,172.699997,175.300003,171.639999,172.000000,171.529129,96904000
2022-01-07,172.889999,174.139999,171.029999,172.169998,171.698654,86709100
...,...,...,...,...,...,...
2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500
2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,81000500
2022-06-22,134.789993,137.759995,133.910004,135.350006,135.350006,73409200
2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800
2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89047400

In [34]:
data.iloc[0]

Open         1.334100e+02
High         1.352500e+02
Low          1.333500e+02
Close        1.347800e+02
Adj Close    1.340143e+02
Volume       6.211130e+07
Name: 2021-06-28 00:00:00, dtype: float64

In [35]:
data.iloc[-1]

Open         1.399000e+02
High         1.419100e+02
Low          1.397700e+02
Close        1.416600e+02
Adj Close    1.416600e+02
Volume       8.904740e+07
Name: 2022-06-24 00:00:00, dtype: float64

In [36]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500
2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,81000500
2022-06-22,134.789993,137.759995,133.910004,135.350006,135.350006,73409200
2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800
2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89047400