# Series
- Use type to get data type
- Each column is a Series
- Series show data type (dtype)
- Calculate with Series
daily change, daily percentage change
Normalize data
-similar to excel
indexing wiht series

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("AAPL.csv", index_col=0, parse_dates=True)

In [6]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300
2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100
2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181961,63261400
2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490204,52485800
2021-07-02,137.899994,140.000000,137.750000,139.960007,139.164932,78852600

In [11]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [7]:
type(data)

pandas.core.frame.DataFrame

In [8]:
data['Close']

Date
2021-06-28    134.779999
2021-06-29    136.330002
2021-06-30    136.960007
2021-07-01    137.270004
2021-07-02    139.960007
                 ...
2022-06-17    131.559998
2022-06-21    135.869995
2022-06-22    135.350006
2022-06-23    138.270004
2022-06-24    141.660004
Name: Close, Length: 251, dtype: float64

In [9]:
type(data['Close'])

pandas.core.series.Series

In [15]:
daily_change = data['Open'] - data['Close']

In [16]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300
2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100
2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181961,63261400
2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490204,52485800
2021-07-02,137.899994,140.000000,137.750000,139.960007,139.164932,78852600

In [17]:
daily_change

Date
2021-06-28   -1.369995
2021-06-29   -1.529999
2021-06-30   -0.790009
2021-07-01   -0.669998
2021-07-02   -2.060013
                ...
2022-06-17   -1.489991
2022-06-21   -2.449997
2022-06-22   -0.560013
2022-06-23   -1.449997
2022-06-24   -1.760010
Length: 251, dtype: float64

In [18]:
type(daily_change)

pandas.core.series.Series

In [20]:
daily_pct_chg = (data['Close'] - data['Open'])/data['Open']*100

In [22]:
daily_pct_chg

Date
2021-06-28    1.026906
2021-06-29    1.135014
2021-06-30    0.580164
2021-07-01    0.490482
2021-07-02    1.493846
                ...
2022-06-17    1.145530
2022-06-21    1.836304
2022-06-22    0.415471
2022-06-23    1.059784
2022-06-24    1.258049
Length: 251, dtype: float64

In [26]:
data['Close'].iloc[0]

134.779999

In [27]:
data['Close'].iloc[-1]

141.660004

In [28]:
norm = data['Close']/data['Close'].iloc[0]

In [29]:
norm

Date
2021-06-28    1.000000
2021-06-29    1.011500
2021-06-30    1.016175
2021-07-01    1.018475
2021-07-02    1.038433
                ...
2022-06-17    0.976109
2022-06-21    1.008087
2022-06-22    1.004229
2022-06-23    1.025894
2022-06-24    1.051046
Name: Close, Length: 251, dtype: float64

In [30]:
data['Close'].iloc[0]*norm.iloc[-1]

141.660004

In [36]:
data['Close'].iloc[-1]

141.660004